body {
    background-color: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
    margin:0%;
}

#navBar, #footer {
    background-color: #0d6efd;
    color: white;
}

table {
    padding: 0.8%;
    width: 35%;
    text-align: center;
}

#footer {
    text-align: center;
    padding: 0.5%;
}

#main {
    border-radius: 10px;
    background-color: white;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 744px;
}

a {
    color: white;
    text-decoration: none;
}