body {
    background-color: #D6D6D6;
    margin: 0 auto;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar, .footer {
    background-color: #0d6efd;
    color: white;
    height: 5%;
}

.navBar {
    line-height: 2.75;
}
.navLinki {
    text-align: center;
    width: 35%;
}

.main { 
    height: 90%;
}

.content {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 75%;
    padding-left: 2%;
}

.footer {
    text-align: center;
    line-height: 3;
}

a {
    color: white;
    text-decoration: none;
}

.leftBMI {
    border:5px;
    margin-top: 7%;
    margin-left: 2%;
    padding: 5%;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    border: #D6D6D6 2px solid;
    float: left;
}

.leftTableBMI {
    text-align: right;
}

.reset {
    font-size: 25px;
    color: white;
    border: 0px;
    width: 40%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#calculate {
    font-size: 25px;
    color: white;
    border: 0px;
    width: 40%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #0d6efd;
    margin-left: 7.5%;
}

.reset {
    background-color: #D6D6D6;
}

.leftContentBMI {
    margin-top: 7%;
    float: left;
}

#rightContentBMI {
    margin-top: 7%;
    margin-left: 20%;
    float: left;
    line-height: 0.5;
}

#textBMI {
    color:#0d6efd;
    font-size: 20px;
}

#numberBMI {
    color: #0d6efd;
    font-size: 50px;
}

#weight, #height {
    height: 25px;
}

#calculate2 {
    background-color: #D6D6D6;
    margin-left: 7.5%;
}

.contentConverter {
    clear: both;
    background-color: #D6D6D6;
    float: left;
}

.imgButton {
    height: 15px;
    width: 20px;
    float: left;
}

#selectFromValue, #selectToValue {
    float: left;
}

.buttonToConvert {
    background-color: #0d6efd;
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.amountValue, .fromCurrency, .sectionWithImg, .toCurrency, .convertButtonSection {
    text-align: left;
    float: left;
    background-color: #D6D6D6;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 2%;
    height: 5vH;
    width: auto;
    width: 17.23%;
}

.sectionWithImg {
    width: 20px;;
}

.amountValue {
    padding-left: 10%;
}

.convertButtonSection {
    padding-right: 3%;
}

.resultView {
    background-color: #D6D6D6;
    clear: both;
    text-align: center;
    width: 100%;
}

#exchangeRate {
    padding: 1%;
}

.box {
    width: 50vw;
    margin-left: 15%;
}